requests
python-dotenv
serpapi
python-docx
langchain
langgraph
langchain-core
langchain-community
langchain-google-genai
langchain-chroma
ipykernel
rich
markitdown[all]
pytest
pytest-asyncio
pytest-mock
pytest-icdiff
streamlit
altair
Authlib